:root {
  --darkblue: #143642;
  --blue: #0f8b8d;
  --white: #fff;
  --red: #a8201a; }

html, body {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

nav, footer {
  color: var(--white);
  background-color: var(--darkblue); }

nav .nav__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto; }
  nav .nav__wrapper h1 {
    margin: 0 0 0 0.5rem;
    font-size: 1.3rem;
    text-align: center; }
  nav .nav__wrapper img {
    height: 6rem;
    margin-right: 0.5rem; }

.wrapper {
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto; }

.btn {
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--white);
  background-color: var(--blue);
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 110px;
  max-width: 150px;
  flex: 1 1 100%; }

.btns__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -10px 0;
  max-width: 600px; }
  .btns__top #btn__cashflow {
    background-color: var(--darkblue); }

.description {
  padding: 1rem 0;
  text-align: center; }
  .description .description__text {
    margin: 0; }

form {
  display: flex;
  flex-direction: column; }
  form label {
    margin-top: 1.5rem;
    color: var(--darkblue);
    font-size: 0.9rem; }
  form .form__item {
    border: none;
    border-bottom: 2px solid var(--darkblue);
    border-radius: 0; }
  form .form__item:focus {
    outline: none;
    border: 2px solid var(--blue); }
  form .form__item::-webkit-outer-spin-button,
  form .form__item::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  form .btns__calc {
    display: flex;
    justify-content: space-evenly; }
    form .btns__calc #clear {
      background-color: var(--red); }

.response #answer, .response #error {
  text-align: center;
  font-weight: bold;
  font-size: 2.3em; }

.response #error {
  color: var(--red); }

footer .footer__text {
  margin: 0;
  padding: 2rem;
  text-align: center; }
  footer .footer__text .footer__link, footer .footer__text .footer__link:hover, footer .footer__text .footer__link:visited {
    color: var(--white); }
