:root {
  --darkblue: #143642;
  --blue: #0f8b8d;
  --white: #fff;
  --red: #a8201a; }

body {
  font-family: sans-serif; }

nav, footer {
  color: var(--white);
  background-color: var(--darkblue); }

nav {
  text-align: center;
  margin: 0;
  padding: 2rem;
  font-weight: bold; }

.btns__top {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.btn {
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--white);
  background-color: var(--blue);
  margin: 0.3rem;
  border-radius: 5px;
  cursor: pointer; }

form {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0 1rem; }
  form label {
    margin-top: 1.1rem;
    color: var(--darkblue); }
  form .form__item {
    border: none;
    border-bottom: 2px solid var(--darkblue); }
  form .form__item:focus {
    outline: none;
    border-color: var(--blue); }
  form .form__item::-webkit-outer-spin-button,
  form .form__item::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  form .btns__calc {
    display: flex;
    justify-content: space-evenly; }
    form .btns__calc #clear {
      background-color: var(--red); }

.response #answer, .response #error {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 2.3em; }

.response #error {
  color: var(--red); }

footer .footer__text {
  margin: 0;
  padding: 2rem;
  text-align: center; }
  footer .footer__text .footer__link, footer .footer__text .footer__link:hover, footer .footer__text .footer__link:visited {
    color: var(--white); }
