:root {
	--darkblue: #143642;
	--blue: #0f8b8d;
	--white: #fff;
	--red: #a8201a;
}

body {
	font-family: sans-serif;
}

nav, footer {
	color: var(--white);
	background-color: var(--darkblue);
}

nav {
	text-align: center;
	margin: 0;
	padding: 2rem;
	font-weight: bold;
}

.btn {
	border: none;
	outline: none;
	padding: 1rem;
	color: var(--white);
	background-color: var(--blue);
	margin: 0.3rem;
	border-radius: 5px;
	cursor: pointer;
}

.btns__top {
	display: flex;
	padding: 1rem;
	justify-content: space-evenly;
	flex-wrap: wrap;

	#btn__cashflow {
		background-color: var(--darkblue);
	}
}

form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	align-items: stretch;
	max-width: 400px;

	label {
		margin-top: 1.1rem;
		color: var(--darkblue);
	}

	.form__item {
		border: none;
		border-bottom: 2px solid var(--darkblue);
		border-radius: 0;
	}

	.form__item:focus {
		outline: none;
		border-color: var(--blue);
	}

	.form__item::-webkit-outer-spin-button,
	.form__item::-webkit-inner-spin-button {
		-webkit-appearance: none;
  	margin: 0;
	}

	.btns__calc {
		display: flex;
		justify-content: space-evenly;
		padding: 1rem;

		#clear {
			background-color: var(--red);
		}

		#clear, #calculate {
			flex-grow: 1;
			max-width: 200px;
			min-width: 100px;
		}
	}
}

.response {

	#answer, #error {
		// padding: 1rem;
		text-align: center;
		font-weight: bold;
		font-size: 2.3em;
	}

	#error {
		color: var(--red);
	}	
}

footer {
	
	.footer__text {
		margin: 0;
		padding: 2rem;
		text-align: center;

		.footer__link, .footer__link:hover, .footer__link:visited {
			color: var(--white);
		}
	}
}