:root {
	--darkblue: #143642;
	--blue: #0f8b8d;
	--white: #fff;
	--red: #a8201a;
}

html, body {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

nav, footer {
	color: var(--white);
	background-color: var(--darkblue);
}

nav {

	.nav__wrapper {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 1rem;
		max-width: 600px;
		margin: 0 auto;

		h1 {
			margin: 0 0 0 0.5rem;
			font-size: 1.3rem;
			text-align: center;
			}

		img {
			height: 6rem;
			margin-right: 0.5rem;
		}
	}
}

.wrapper {
	padding: 1rem;
	max-width: 900px;
	margin: 0 auto;
}

.btn {
	border: none;
	outline: none;
	padding: 1rem;
	color: var(--white);
	background-color: var(--blue);
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
	min-width: 110px;
	max-width: 150px;
	flex: 1 1 100%;
}

.btns__top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: -10px 0;
	max-width: 600px;

	.btn {
		// margin: 10px;
		// flex: 1 1;
		// min-width: 110px;
		// max-width: 200px;
	}

	#btn__cashflow {
		background-color: var(--darkblue);
	}
}

.description {
	padding: 1rem 0;
	text-align: center;
	// margin: 0 auto;
	// max-width: 600px;

	.description__text {
		margin: 0;
	}
}

// Should I organize the inputs for layout by type ?
	// mortgage info, expenses, vacancy rate, income, other
	// Maybe only for screens larger than mobile? Or even for mobile and have
	// thin outlines around the different sections?
form {
	// margin: 0 auto;
	display: flex;
	flex-direction: column;
	// padding: 0 1rem;
	// align-items: stretch;
	// max-width: 400px;

	label {
		margin-top: 1.5rem;
		color: var(--darkblue);
		font-size: 0.9rem;
	}

	.form__item {
		border: none;
		border-bottom: 2px solid var(--darkblue);
		border-radius: 0;
	}

	.form__item:focus {
		outline: none;
		border: 2px solid var(--blue);
	}

	.form__item::-webkit-outer-spin-button,
	.form__item::-webkit-inner-spin-button {
		-webkit-appearance: none;
  	margin: 0;
	}

	.btns__calc {
		display: flex;
		justify-content: space-evenly;
		// padding: 1rem;

		#clear {
			background-color: var(--red);
		}

		#clear, #calculate {
			// flex-grow: 1;
			// max-width: 200px;
			// min-width: 100px;
		}
	}
}

.response {

	#answer, #error {
		text-align: center;
		font-weight: bold;
		font-size: 2.3em;
	}

	#error {
		color: var(--red);
	}	
}

footer {
	
	.footer__text {
		margin: 0;
		padding: 2rem;
		text-align: center;

		.footer__link, .footer__link:hover, .footer__link:visited {
			color: var(--white);
		}
	}
}